.flex {
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 991px) {
  .flex {
    display: inline-block;
  }
}
@font-face {
  font-family: 'Glober Bold';
  src: url('../fonts/GloberBold/GloberBold.eot');
  src: url('../fonts/GloberBold/GloberBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberBold/GloberBold.woff') format('woff'), url('../fonts/GloberBold/GloberBold.ttf') format('truetype'), url('../fonts/GloberBold/GloberBold.svg#Glober Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glober Regular';
  src: url('../fonts/GloberRegular/GloberRegular.eot');
  src: url('../fonts/GloberRegular/GloberRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberRegular/GloberRegular.woff') format('woff'), url('../fonts/GloberRegular/GloberRegular.ttf') format('truetype'), url('../fonts/GloberRegular/GloberRegular.svg#Glober Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icon/icomoon.eot');
  src: url('../fonts/icon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icon/icomoon.woff') format('woff'), url('../fonts/icon/icomoon.ttf') format('truetype'), url('../fonts/icon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Glober Regular', Arial, sans-serif;
  font-size: 14px;
  background-image: url('../img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #5B2171;
  overflow-x: hidden;
}
body:before {
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.wrapper {
  display: table;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
}
.wrapper .wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.tab-content {
  width: 100vw;
}
.tab-content #leader,
.tab-content #n-leader,
.tab-content #mil {
  display: none;
}
.cover-container {
  width: 100%;
  padding-top: 40px;
}
@media (min-width: 991px) and (max-width: 1500px) {
  .cover-container {
    padding-top: 60px;
  }
}
.masthead {
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .masthead {
    position: relative;
  }
}
.btn {
  font-family: 'Glober Bold', Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block !important;
  color: #ffc36e;
  width: 80%;
}
.btn:focus,
.btn:active,
.btn:hover {
  color: #ffc36e;
}
@media (max-width: 1200px) {
  .btn {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .btn {
    width: 100%;
    padding: 10px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    width: 52%;
  }
}
@media (max-width: 480px) {
  .btn {
    width: 100%;
  }
}
.nav-tabs {
  margin-top: 100px;
}
@media (max-width: 1500px) {
  .nav-tabs {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .nav-tabs {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .nav-tabs {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .nav-tabs > li {
    float: none;
    margin-bottom: 48px;
  }
}
.nav-tabs__wrapper {
  text-align: center;
}
.btn-leader,
.btn-n-leader,
.btn-mil {
  font-family: 'Glober Bold', Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block !important;
  color: #ffc36e;
  width: 80%;
  margin-top: 5px;
  padding: 15px 15px 10px 15px !important;
}
.btn-leader:focus,
.btn-n-leader:focus,
.btn-mil:focus,
.btn-leader:active,
.btn-n-leader:active,
.btn-mil:active,
.btn-leader:hover,
.btn-n-leader:hover,
.btn-mil:hover {
  color: #ffc36e;
}
@media (max-width: 1200px) {
  .btn-leader,
  .btn-n-leader,
  .btn-mil {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .btn-leader,
  .btn-n-leader,
  .btn-mil {
    width: 100%;
    padding: 10px !important;
  }
}
@media (max-width: 767px) {
  .btn-leader,
  .btn-n-leader,
  .btn-mil {
    width: 52%;
  }
}
@media (max-width: 480px) {
  .btn-leader,
  .btn-n-leader,
  .btn-mil {
    width: 100%;
  }
}
.btn-leader:after,
.btn-n-leader:after,
.btn-mil:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 38%;
  top: -34px;
  width: 65px;
  height: 34px;
  background-image: url(../img/zv3.png);
}
.btn-leader {
  background: red;
  border-bottom: 1px solid #890202!important;
  background: -webkit-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* Standard syntax */
}
.btn-leader:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-leader:before {
  top: 0;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#C10B0B), to(#FF7373));
  background-image: -webkit-linear-gradient(#FF7373, #C10B0B);
  background-image: -moz-linear-gradient(#FF7373, #C10B0B);
  background-image: -o-linear-gradient(#FF7373, #C10B0B);
}
.btn-leader:hover,
.btn-leader:focus,
.btn-leader:active {
  background: -webkit-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* Standard syntax */
  -webkit-box-shadow: 0px -17px 35px -14px #ED0066, 1px 6px 53px -19px #ED0066, 2px -44px 49px -21px #ED0066, 0px 12px 24px -12px #ED0066;
  -moz-box-shadow: 0px -17px 35px -14px #ED0066, 1px 6px 53px -19px #ED0066, 2px -44px 49px -21px #ED0066, 0px 12px 24px -12px #ED0066;
  box-shadow: 0px -17px 35px -14px #ED0066, 1px 6px 53px -19px #ED0066, 2px -44px 49px -21px #ED0066, 0px 12px 24px -12px #ED0066;
}
.btn-n-leader {
  background: #ffc36e;
  border-bottom: 1px solid #BB8E30!important;
  background: -webkit-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* Standard syntax */
}
.btn-n-leader:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-n-leader:before {
  top: 0;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#FF8905), to(#FFF1C2));
  background-image: -webkit-linear-gradient(#FFF1C2, #FF8905);
  background-image: -moz-linear-gradient(#FFF1C2, #FF8905);
  background-image: -o-linear-gradient(#FFF1C2, #FF8905);
}
.btn-n-leader:hover,
.btn-n-leader:focus,
.btn-n-leader:active {
  background: -webkit-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* Standard syntax */
  -webkit-box-shadow: 0px -17px 35px -14px #F38F00, 1px 6px 53px -19px #F38F00, 2px -44px 49px -21px #F38F00, 0px 12px 24px -12px #F38F00;
  -moz-box-shadow: 0px -17px 35px -14px #F38F00, 1px 6px 53px -19px #F38F00, 2px -44px 49px -21px #F38F00, 0px 12px 24px -12px #F38F00;
  box-shadow: 0px -17px 35px -14px #F38F00, 1px 6px 53px -19px #F38F00, 2px -44px 49px -21px #F38F00, 0px 12px 24px -12px #F38F00;
}
.btn-mil {
  background: #380915;
  border-bottom: 1px solid #7C2D4B!important;
  background: -webkit-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%);
  /* Standard syntax */
}
.btn-mil:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-mil:before {
  top: 0;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#5D1327), to(#E43D6D));
  background-image: -webkit-linear-gradient(#E43D6D, #5D1327);
  background-image: -moz-linear-gradient(#E43D6D, #5D1327);
  background-image: -o-linear-gradient(#E43D6D, #5D1327);
}
.btn-mil:hover,
.btn-mil:focus,
.btn-mil:active {
  background: -webkit-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #771239 16%, #29050E 50%) !important;
  /* Standard syntax */
  -webkit-box-shadow: 0px -17px 35px -14px #DD00E1, 1px 6px 53px -19px #DD00E1, 2px -44px 49px -21px #DD00E1, 0px 12px 24px -12px #DD00E1;
  -moz-box-shadow: 0px -17px 35px -14px #DD00E1, 1px 6px 53px -19px #DD00E1, 2px -44px 49px -21px #DD00E1, 0px 12px 24px -12px #DD00E1;
  box-shadow: 0px -17px 35px -14px #DD00E1, 1px 6px 53px -19px #DD00E1, 2px -44px 49px -21px #DD00E1, 0px 12px 24px -12px #DD00E1;
}
.nav-tabs > li.active > a.btn-leader {
  -webkit-box-shadow: 0px -17px 35px -14px #ED0066, 1px 6px 53px -19px #ED0066, 2px -44px 49px -21px #ED0066, 0px 12px 24px -12px #ED0066;
  -moz-box-shadow: 0px -17px 35px -14px #ED0066, 1px 6px 53px -19px #ED0066, 2px -44px 49px -21px #ED0066, 0px 12px 24px -12px #ED0066;
  box-shadow: 0px -17px 35px -14px #ED0066, 1px 6px 53px -19px #ED0066, 2px -44px 49px -21px #ED0066, 0px 12px 24px -12px #ED0066;
}
.nav-tabs > li.active > a.btn-n-leader {
  -webkit-box-shadow: 0px -17px 35px -14px #F38F00, 1px 6px 53px -19px #F38F00, 2px -44px 49px -21px #F38F00, 0px 12px 24px -12px #F38F00;
  -moz-box-shadow: 0px -17px 35px -14px #F38F00, 1px 6px 53px -19px #F38F00, 2px -44px 49px -21px #F38F00, 0px 12px 24px -12px #F38F00;
  box-shadow: 0px -17px 35px -14px #F38F00, 1px 6px 53px -19px #F38F00, 2px -44px 49px -21px #F38F00, 0px 12px 24px -12px #F38F00;
}
.nav-tabs > li.active > a.btn-mil {
  -webkit-box-shadow: 0px -17px 35px -14px #DD00E1, 1px 6px 53px -19px #DD00E1, 2px -44px 49px -21px #DD00E1, 0px 12px 24px -12px #DD00E1;
  -moz-box-shadow: 0px -17px 35px -14px #DD00E1, 1px 6px 53px -19px #DD00E1, 2px -44px 49px -21px #DD00E1, 0px 12px 24px -12px #DD00E1;
  box-shadow: 0px -17px 35px -14px #DD00E1, 1px 6px 53px -19px #DD00E1, 2px -44px 49px -21px #DD00E1, 0px 12px 24px -12px #DD00E1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  color: #ffc36e;
}
.opacity_li:hover {
  opacity: 1!important;
}
.opacity_li {
  opacity: 0.65;
  transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a {
  border: none;
  border-radius: 0;
}
.owl-btn {
  color: #777;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 9px;
  text-align: center;
  background: #f5f5f5;
}
.modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-top: 160px;
}
@media (max-width: 1500px) {
  .modal-content {
    margin-top: 100px;
  }
}
.fade.in {
  background: rgba(0, 0, 10, 0.7);
}
.modal-lg {
  max-width: 1115px ;
  width: 100%;
}
@media (min-width: 992px) and (max-width: 1500px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-lider .modal-body {
  position: relative;
}
.modal-lider .modal-body:before {
  position: absolute;
  content: '';
  left: -21.3%;
  top: 19px;
  height: 487px;
  width: 528px;
  background: url(../img/zvKL.png);
  z-index: 1;
}
@media (max-width: 1500px) {
  .modal-lider .modal-body:before {
    background-size: contain;
    background-repeat: no-repeat;
    left: -23%;
    top: 121px;
    height: 460px;
    width: 468px;
  }
}
@media (max-width: 991px) {
  .modal-lider .modal-body:before {
    display: none;
  }
}
.modal-lider .modal-body__wrapper {
  display: -webkit-flex;
  display: flex;
  background: linear-gradient(45deg, rgba(253, 253, 253, 0) 9%, #D5BF9C 10%, #D5BF9C);
  position: relative;
}
@media (max-width: 991px) {
  .modal-lider .modal-body__wrapper {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .modal-lider .modal-body__wrapper {
    background: #D5BF9C;
  }
}
.modal-lider .modal-body__wrapper:before {
  position: absolute;
  content: '';
  left: 19.3%;
  top: 44px;
  height: 92px;
  width: 92px;
  background: url(../img/lider.png) no-repeat;
  z-index: 3;
}
@media (max-width: 991px) {
  .modal-lider .modal-body__wrapper:before {
    left: inherit;
    right: 5.3%;
  }
}
@media (max-width: 767px) {
  .modal-lider .modal-body__wrapper:before {
    display: none;
  }
}
.modal-lider .modal-body__img {
  width: auto;
  height: 100%;
  overflow: hidden;
  max-width: 450px;
  margin-right: -16px;
  background: url(../img/img_avatar_m.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .modal-lider .modal-body__img {
    max-width: 269px;
    background-position: center;
    min-height: 342px;
    height: auto;
    display: block;
    margin-left: -20px;
    margin-right: inherit;
  }
}
@media (max-width: 767px) {
  .modal-lider .modal-body__img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}
.modal-lider .modal-body__content {
  margin-top: 67px;
  padding-bottom: 26%;
  margin-left: 43px;
}
@media (max-width: 991px) {
  .modal-lider .modal-body__content {
    margin-left: 13px;
    padding-bottom: 5%;
  }
}
.modal-lider .modal-body__content h3 {
  font-family: 'Glober Bold', Arial, sans-serif;
  margin-bottom: 0;
  line-height: 22px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .modal-lider .modal-body__content h3 {
    text-align: center;
  }
}
.modal-lider .modal-body__content span {
  font-family: 'Glober Regular', Arial, sans-serif;
  font-style: italic;
  font-size: 17px;
}
@media (max-width: 767px) {
  .modal-lider .modal-body__content span {
    text-align: center;
    display: block;
  }
}
.modal-lider .modal-body__content .modal-body__content-text {
  margin-top: 55px;
}
@media (max-width: 991px) {
  .modal-lider .modal-body__content .modal-body__content-text {
    left: inherit;
    margin-top: 25px;
  }
}
.modal-mil .modal-body {
  position: relative;
}
.modal-mil .modal-body:before {
  position: absolute;
  content: '';
  left: -14.5%;
  top: -146px;
  height: 415px;
  width: 437px;
  background-image: url('../img/zv4KM.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1500px) {
  .modal-mil .modal-body:before {
    background-size: contain;
    width: 289px;
    left: -14%;
    top: -89px;
    height: 275px;
  }
}
@media (max-width: 991px) {
  .modal-mil .modal-body:before {
    display: none;
  }
}
.modal-mil .modal-body__wrapper {
  background: #D4A6CE;
  position: relative;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 991px) {
  .modal-mil .modal-body__wrapper {
    display: inline-block;
  }
}
.modal-mil .modal-body__wrapper:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 158px;
  width: 158px;
  background: url(../img/mil.png);
}
@media (max-width: 991px) {
  .modal-mil .modal-body__wrapper:before {
    height: 88px;
    width: 88px;
    background-size: contain;
  }
}
@media (max-width: 767px) {
  .modal-mil .modal-body__wrapper:before {
    display: none;
  }
}
.modal-mil .modal-body__wrapper:after {
  position: absolute;
  content: '';
  right: -14.5%;
  bottom: -21%;
  height: 464px;
  width: 440px;
  background: url(../img/zvKM.png) no-repeat;
  background-size: contain;
}
@media (max-width: 1500px) {
  .modal-mil .modal-body__wrapper:after {
    background-size: contain;
    right: -13%;
    bottom: -22%;
    height: 382px;
    width: 333px;
  }
}
@media (max-width: 991px) {
  .modal-mil .modal-body__wrapper:after {
    display: none;
  }
}
.modal-mil .modal-body__img {
  width: auto;
  overflow: hidden;
  border: 20px solid #fff;
  margin-left: -15px;
  max-width: 450px;
  background: url(../img/img_avatar_m.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}
@media (max-width: 991px) {
  .modal-mil .modal-body__img {
    max-width: 269px;
    min-height: 342px;
  }
}
@media (max-width: 767px) {
  .modal-mil .modal-body__img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}
.modal-mil .modal-body__content {
  margin-left: 35px;
  margin-top: 67px;
  padding-bottom: 12%;
}
@media (max-width: 991px) {
  .modal-mil .modal-body__content {
    margin-left: 0;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .modal-mil .modal-body__content {
    padding-bottom: 4%;
  }
}
.modal-mil .modal-body__content h3 {
  font-family: 'Glober Bold', Arial, sans-serif;
  margin-bottom: 0;
  line-height: 22px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .modal-mil .modal-body__content h3 {
    text-align: center;
  }
}
.modal-mil .modal-body__content span {
  font-family: 'Glober Regular', Arial, sans-serif;
  font-style: italic;
  font-size: 17px;
}
@media (max-width: 767px) {
  .modal-mil .modal-body__content span {
    text-align: center;
    display: block;
  }
}
.modal-mil .modal-body__content .modal-body__content-text {
  margin-top: 55px;
  padding-bottom: 22%;
}
@media (max-width: 991px) {
  .modal-mil .modal-body__content .modal-body__content-text {
    margin-top: 13px;
    padding-bottom: 4%;
  }
}
@media (max-width: 767px) {
  .modal-mil .modal-body__content .modal-body__content-text {
    padding-bottom: 1%;
  }
}
.close {
  outline: none!important;
  opacity: 1;
  margin-right: -50px;
}
@media (max-width: 991px) {
  .close {
    margin-right: -10px;
    margin-top: -50px;
  }
}
.close span {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: block;
}
.close span:before,
.close span:after {
  content: '';
  position: absolute;
  display: block;
  width: 35px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer;
}
.close span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close span:after {
  top: 10px;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  -moz-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.fa-icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  font-size: 14px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-left::before {
  content: "\f104";
}
.fa-right::before {
  content: "\f105";
}
.fa-double-left:before {
  content: "\f100";
}
.fa-double-right:before {
  content: "\f101";
}
.owl-controls {
  text-align: center;
}
.owl-controls .owl-buttons {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
.owl-prev,
.owl-next {
  display: inline-block;
  padding: 4px 10px 0px 10px;
  background: rgba(0, 0, 10, 0.7);
  color: #fff;
  margin-right: 2px;
}
.owl-carousel__content {
  text-align: center;
}
.owl-carousel__content h3 {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: 'Glober Regular', Arial, sans-serif;
  font-weight: lighter;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .owl-carousel__content h3 {
    margin-top: -10px;
    margin-bottom: 5px;
  }
}
.owl-carousel__content-img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.owl-carousel__content-img img {
  width: 100%;
  display: block;
  height: auto;
}
.owl-carousel__content-img a {
  border-radius: 50%;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  outline: none;
}
.owl-carousel__content-img .icon {
  background: url(../img/border-img1.png) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background-size: cover;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  #leader .owl-carousel__content-img,
  #n-leader .owl-carousel__content-img {
    width: 80%;
  }
}
.owl-carousel__content-bg {
  display: inline-block;
  background: url(../img/border-img-mask.png) no-repeat;
  background-position: 42px -19px;
  padding: 20px;
  background-size: contain;
  -webkit-box-reflect: below -39px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(78%, transparent), to(rgba(255, 195, 110, 0.28)));
}
@media (min-width: 1000px) and (max-width: 1500px) {
  #mil {
    margin-bottom: 0;
  }
}
#mil h3 {
  margin-top: 0;
}
#mil .owl-carousel__content-bg {
  background: url(../img/bg_KM.png) no-repeat;
  background-size: contain;
  padding-bottom: 8%;
}
#mil .owl-carousel__content-bg .owl-carousel__content-img {
  margin-top: 50px;
}
.owl-carousel .owl-item {
  text-align: center;
  display: inline-block;
}
.owl-carousel__content-flag {
  height: 35px;
  width: 70px;
  background: url(../img/rs.png) no-repeat center;
  display: inline-block;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .owl-carousel__content-flag {
    height: 24px;
    width: 50px;
  }
}
.owl-carousel.off {
  display: block;
}
.header {
  position: relative;
}
.home-header__logo {
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .home-header__logo {
    margin-top: 20px;
  }
}
.header__logo-title {
  padding-top: 200px;
  height: 0;
  overflow: hidden;
  background-image: url('../img/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  margin: 0;
}
@media (min-width: 991px) and (max-width: 1600px) {
  .header__logo-title {
    background-size: contain;
    padding-top: 142px;
  }
}
@media (max-width: 480px) {
  .header__logo-title {
    padding-top: 128px;
    background-size: contain;
  }
}
.tabs-header__logo {
  position: relative;
  background: radial-gradient(circle farthest-corner at 164px 70px, #271A7D -1%, rgba(0, 0, 10, 0.7) 9%);
  margin-top: 4%;
  margin-bottom: 5%;
  display: none;
}
@media (max-width: 1500px) {
  .tabs-header__logo {
    margin-top: 3%;
    margin-bottom: 2.5%;
  }
}
@media (max-width: 767px) {
  .tabs-header__logo {
    background: rgba(0, 0, 10, 0.5);
  }
}
.tabs-header__logo-title {
  padding-top: 180px;
  height: 0;
  overflow: hidden;
  background-image: url('../img/logo_tabs.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: inherit;
  margin: 0;
  top: -57px;
  position: absolute;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .tabs-header__logo-title {
    background-size: 68%;
    top: -57px;
    left: 74px;
  }
}
@media (max-width: 767px) {
  .tabs-header__logo-title {
    background-size: contain;
    padding-top: 92px;
    position: relative;
    top: inherit;
    left: inherit;
  }
}
.walk__wrapper {
  background: radial-gradient(circle farthest-corner at 50% -38px, rgba(39, 26, 125, 0.69) 6%, rgba(0, 0, 10, 0.7) 21%);
  padding-bottom: 32px;
  padding-top: 32px;
  position: absolute;
  width: 100%;
  top: 30%;
  overflow: hidden;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
@media (max-width: 767px) {
  .walk__wrapper {
    position: relative;
  }
}
.walk {
  border-bottom: 1px solid #cd91e5;
  border-top: 1px solid #cd91e5;
  padding-top: 50px;
  padding-bottom: 65px;
  text-align: center;
}
@media (max-width: 1500px) {
  .walk {
    padding-top: 19px;
    padding-bottom: 35px;
  }
}
.walk h2.walk__title {
  text-transform: uppercase;
  font-size: 60px;
  color: #cd91e5;
  line-height: 50px;
  font-family: 'Glober Bold', Arial, sans-serif;
}
@media (max-width: 1500px) {
  .walk h2.walk__title {
    font-size: 50px;
    line-height: 1;
  }
}
@media (max-width: 480px) {
  .walk h2.walk__title {
    font-size: 40px;
    line-height: 24px;
  }
}
.walk h2.walk__title span {
  font-size: 38px;
  font-family: 'Glober Regular', Arial, sans-serif;
}
@media (max-width: 480px) {
  .walk h2.walk__title span {
    font-size: 15px;
  }
}
.walk .walk__text {
  color: #f4d9ff;
  font-size: 20px;
  font-family: 'Glober Regular', Arial, sans-serif;
  display: inline-block;
  width: 39.5%;
}
@media (max-width: 1500px) {
  .walk .walk__text {
    font-size: 18px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .walk .walk__text {
    font-size: 14px;
    width: 100%;
  }
}
.walk__tabs h2.walk__tabs-title {
  text-transform: uppercase;
  font-size: 60px;
  color: #cd91e5;
  line-height: 43px;
  font-family: 'Glober Bold', Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 1500px) {
  .walk__tabs h2.walk__tabs-title {
    font-size: 50px;
    line-height: 33px;
  }
}
@media (max-width: 480px) {
  .walk__tabs h2.walk__tabs-title {
    font-size: 32px;
    line-height: 17px;
  }
}
.walk__tabs h2.walk__tabs-title span {
  font-size: 38px;
  font-family: 'Glober Regular', Arial, sans-serif;
}
@media (max-width: 1500px) {
  .walk__tabs h2.walk__tabs-title span {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .walk__tabs h2.walk__tabs-title span {
    font-size: 14px;
  }
}
.nav-tabs {
  border-bottom: none;
}
.fixed__nav-tabs {
  /*position: absolute;
  bottom: 2.5%;
  left: 0;
  right: 0;
  @media (max-width: 767px){
    bottom: 0;
    top: 80%;
  }*/
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .fixed__nav-tabs {
    position: relative;
  }
}
.fixed__nav-tabs .inner {
  padding: 30px 0 60px 0;
}
@media (min-width: 991px) and (max-width: 1500px) {
  .fixed__nav-tabs .inner {
    padding: 30px 0;
  }
}
.nav > li > a:hover {
  background: none;
  border: none;
}
.tab-content {
  position: relative;
  overflow-x: hidden;
  /*padding-top: 40px;*/
  z-index: 5;
}
.opaque {
  opacity: 0;
}
@media (max-width: 767px) {
  .opaque {
    display: none;
  }
}
