@font-face {
  font-family: 'Glober Bold';
  src: url('../fonts/GloberBold/GloberBold.eot');
  src: url('../fonts/GloberBold/GloberBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberBold/GloberBold.woff') format('woff'), url('../fonts/GloberBold/GloberBold.ttf') format('truetype'), url('../fonts/GloberBold/GloberBold.svg#Glober Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glober Regular';
  src: url('../fonts/GloberRegular/GloberRegular.eot');
  src: url('../fonts/GloberRegular/GloberRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/GloberRegular/GloberRegular.woff') format('woff'), url('../fonts/GloberRegular/GloberRegular.ttf') format('truetype'), url('../fonts/GloberRegular/GloberRegular.svg#Glober Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Glober Regular', Arial, sans-serif;
  font-size: 14px;
  background-image: url('../img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 1024px;
}
body:before {
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.con-h {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.tab-content #leader,
.tab-content #n-leader,
.tab-content #mil {
  display: none;
}
.btn {
  font-family: 'Glober Bold', Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block !important;
  color: #ffc36e;
  width: 80%;
}
.btn:focus,
.btn:active,
.btn:hover {
  color: #ffc36e;
}
.nav-tabs {
  margin-top: 100px;
}
.nav-tabs__wrapper {
  text-align: center;
}
.btn-leader,
.btn-n-leader,
.btn-mil {
  font-family: 'Glober Bold', Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block !important;
  color: #ffc36e;
  width: 80%;
  margin-top: 5px;
  padding: 15px 15px 10px 15px !important;
}
.btn-leader:focus,
.btn-n-leader:focus,
.btn-mil:focus,
.btn-leader:active,
.btn-n-leader:active,
.btn-mil:active,
.btn-leader:hover,
.btn-n-leader:hover,
.btn-mil:hover {
  color: #ffc36e;
}
.btn-leader:after,
.btn-n-leader:after,
.btn-mil:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 38%;
  top: -34px;
  width: 65px;
  height: 34px;
  background-image: url(../img/zv3.png);
}
.btn-leader {
  background: red;
  border-bottom: 1px solid #890202!important;
  background: -webkit-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%);
  /* Standard syntax */
}
.btn-leader:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-leader:before {
  top: 0;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#C10B0B), to(#FF7373));
  background-image: -webkit-linear-gradient(#FF7373, #C10B0B);
  background-image: -moz-linear-gradient(#FF7373, #C10B0B);
  background-image: -o-linear-gradient(#FF7373, #C10B0B);
}
.btn-leader:hover,
.btn-leader:focus,
.btn-leader:active {
  background: -webkit-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FF0708 0%, #C60303 3%, #890202 16%, #5E0101 50%) !important;
  /* Standard syntax */
}
.btn-n-leader {
  background: #ffc36e;
  border-bottom: 1px solid #BB8E30!important;
  background: -webkit-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%);
  /* Standard syntax */
}
.btn-n-leader:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-n-leader:before {
  top: 0;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#FF8905), to(#FFF1C2));
  background-image: -webkit-linear-gradient(#FFF1C2, #FF8905);
  background-image: -moz-linear-gradient(#FFF1C2, #FF8905);
  background-image: -o-linear-gradient(#FFF1C2, #FF8905);
}
.btn-n-leader:hover,
.btn-n-leader:focus,
.btn-n-leader:active {
  background: -webkit-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #FFA00E 0%, #C66500 3%, #AB5500 16%, #964B00 50%) !important;
  /* Standard syntax */
}
.btn-mil {
  background: #380915;
  border-bottom: 1px solid #7C2D4B!important;
  background: -webkit-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%);
  /* Standard syntax */
}
.btn-mil:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-mil:before {
  top: 0;
  width: 2px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#5D1327), to(#E43D6D));
  background-image: -webkit-linear-gradient(#E43D6D, #5D1327);
  background-image: -moz-linear-gradient(#E43D6D, #5D1327);
  background-image: -o-linear-gradient(#E43D6D, #5D1327);
}
.btn-mil:hover,
.btn-mil:focus,
.btn-mil:active {
  background: -webkit-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(177deg, #7A1C36 0%, #7B1C37 3%, #7B1C41 16%, #29050E 50%) !important;
  /* Standard syntax */
}
.nav-tabs > li.active > a.btn-leader {
  -webkit-box-shadow: 0px -8px 61px 0 #ED0066;
  -moz-box-shadow: 0px -8px 61px 0 #ED0066;
  box-shadow: 0px -8px 61px 0 #ED0066;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  color: #ffc36e;
}
.nav-tabs > li > a {
  border: none;
  border-radius: 0;
}
.modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-top: 160px;
}
.modal-lider .modal-lg {
  max-width: 1115px ;
  width: 100%;
}
.modal-lider .modal-body {
  position: relative;
}
.modal-lider .modal-body:before {
  position: absolute;
  content: '';
  left: -22%;
  top: 19px;
  height: 487px;
  width: 528px;
  background: url(../img/zv1KL.png);
  z-index: 1;
}
.modal-lider .modal-body__wrapper {
  background: #D5BF9C;
  position: absolute;
}
.modal-lider .modal-body__wrapper:before {
  position: absolute;
  content: '';
  left: 19.3%;
  top: 44px;
  height: 92px;
  width: 92px;
  background: url(../img/lider.png) no-repeat;
  z-index: 3;
}
.modal-lider .modal-body__img {
  width: auto;
  height: 100%;
  overflow: hidden;
  max-width: 450px;
  margin-right: -15px;
}
.modal-lider .modal-body__img img {
  width: 100%;
}
.modal-lider .modal-body__content {
  margin-left: 35px;
  margin-top: 67px;
}
.modal-lider .modal-body__content h3 {
  font-family: 'Glober Bold', Arial, sans-serif;
  margin-bottom: 0;
  line-height: 22px;
  font-size: 25px;
}
.modal-lider .modal-body__content span {
  font-family: 'Glober Regular', Arial, sans-serif;
  font-style: italic;
  font-size: 25px;
}
.modal-lider .modal-body__content .modal-body__content-text {
  margin-top: 55px;
}
.modal-lider .modal-body__content .modal-body__content-text p {
  font-size: 16px;
  margin-bottom: 20px;
}
.modal-mil .modal-lg {
  max-width: 1324px ;
  width: 100%;
}
.modal-mil .modal-body {
  position: relative;
}
.modal-mil .modal-body:before {
  position: absolute;
  content: '';
  left: -11%;
  top: -134px;
  height: 385px;
  width: 437px;
  background: url(../img/zv4KM.png) no-repeat;
}
.modal-mil .modal-body__wrapper {
  background: #D4A6CE;
  position: absolute;
}
.modal-mil .modal-body__wrapper:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 158px;
  width: 158px;
  background: url(../img/mil.png);
}
.modal-mil .modal-body__wrapper:after {
  position: absolute;
  content: '';
  right: -10%;
  bottom: -18%;
  height: 425px;
  width: 396px;
  background: url(../img/zvKM.png) no-repeat;
  background-size: 100%;
}
.modal-mil .modal-body__img {
  width: auto;
  height: 100%;
  overflow: hidden;
  border: 20px solid #fff;
  margin-left: -15px;
  max-width: 450px;
}
.modal-mil .modal-body__img img {
  width: 100%;
}
.modal-mil .modal-body__content {
  margin-left: 35px;
  margin-top: 67px;
}
.modal-mil .modal-body__content h3 {
  font-family: 'Glober Bold', Arial, sans-serif;
  margin-bottom: 0;
  line-height: 22px;
  font-size: 40px;
}
.modal-mil .modal-body__content span {
  font-family: 'Glober Regular', Arial, sans-serif;
  font-style: italic;
  font-size: 30px;
}
.modal-mil .modal-body__content .modal-body__content-text {
  margin-top: 55px;
}
.modal-mil .modal-body__content .modal-body__content-text p {
  font-size: 17px;
  margin-bottom: 20px;
}
.close {
  outline: none!important;
  opacity: 1;
  margin-right: -70px;
}
.close span {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: block;
}
.close span:before,
.close span:after {
  content: '';
  position: absolute;
  display: block;
  width: 35px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer;
}
.close span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close span:after {
  top: 10px;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  -moz-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.header {
  position: relative;
}
.home-header__logo {
  margin-top: 60px;
  margin-bottom: 20px;
}
.header__logo-title {
  padding-top: 225px;
  height: 0;
  overflow: hidden;
  background-image: url('../img/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: inherit;
  margin: 0;
}
.tabs-header__logo {
  position: relative;
  background: radial-gradient(circle farthest-corner at 164px 70px, #271A7D 2%, rgba(0, 0, 10, 0.7) 9%);
  margin-top: 4%;
  margin-bottom: 5%;
  display: none;
}
.tabs-header__logo-title {
  padding-top: 180px;
  height: 0;
  overflow: hidden;
  background-image: url('../img/logo_tabs.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: inherit;
  margin: 0;
  top: -57px;
  position: absolute;
  cursor: pointer;
}
.walk__wrapper {
  background: radial-gradient(circle farthest-corner at 50% -38px, rgba(39, 26, 125, 0.69) 6%, rgba(0, 0, 10, 0.7) 21%);
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  overflow: hidden;
}
.walk {
  border-bottom: 1px solid #cd91e5;
  border-top: 1px solid #cd91e5;
  padding-top: 50px;
  padding-bottom: 65px;
  text-align: center;
}
.walk h2.walk__title {
  text-transform: uppercase;
  font-size: 60px;
  color: #cd91e5;
  line-height: 50px;
  font-family: 'Glober Bold', Arial, sans-serif;
}
.walk h2.walk__title span {
  font-size: 38px;
  font-family: 'Glober Regular', Arial, sans-serif;
}
.walk .walk__text {
  color: #f4d9ff;
  font-size: 20px;
  font-family: 'Glober Regular', Arial, sans-serif;
  display: inline-block;
  width: 39.5%;
}
.walk__tabs h2.walk__tabs-title {
  text-transform: uppercase;
  font-size: 60px;
  color: #cd91e5;
  line-height: 43px;
  font-family: 'Glober Bold', Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}
.walk__tabs h2.walk__tabs-title span {
  font-size: 38px;
  font-family: 'Glober Regular', Arial, sans-serif;
}
.nav-tabs {
  border-bottom: none;
  position: absolute;
  bottom: 20px;
  width: 62%;
  left: 19%;
}
@media (max-width: 1366px) {
  .nav-tabs {
    width: 100%;
  }
}
.nav > li > a:hover {
  background: none;
  border: none;
}
.owl-carousel__content .rounded-x {
  position: relative;
  /*background:url(../img/border-img.png) ;
    background-size: cover;
    background-position: -24px -42px;
    height: 305px;*/
  /*img{
      width: 280px;
      height: 280px;
      border-radius: 50%;
      z-index: -1;
     /* position: absolute;
      left: 36px;
      top: 10px;*/
  /* }
    img:before{

      border-width: 10px;
      border-style: solid;
      border-image: url(../img/border-img.png) 30 round;
    }*/
}
.owl-carousel__content h3 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: 'Glober Regular', Arial, sans-serif;
  font-weight: lighter;
}
.owl-carousel__content-img {
  border: 25px solid transparent;
  border-image-source: url(../img/border-img.png);
  border-image-repeat: round;
  border-image-slice: 26 fill;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 70%;
  /*width: 252px;
  height: 252px;*/
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media (max-width: 1366px) {
  .owl-carousel__content-img {
    width: 90%;
  }
}
.owl-carousel__content-img img {
  width: 100%;
}
.owl-carousel__content-bg {
  display: inline-block;
  background: url(../img/border-img-mask.png) no-repeat;
  background-position: 20px -3px;
  height: 0;
  padding-bottom: 76%;
  -webkit-box-reflect: below -34px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(78%, transparent), to(rgba(255, 195, 110, 0.28)));
}
@media (max-width: 1366px) {
  .owl-carousel__content-bg {
    padding-bottom: 100%;
    background-size: 100%;
    background-position: inherit;
  }
}
#mil .owl-carousel__content-bg {
  background: url(../img/zv4KM.png) no-repeat;
  background-size: 96%;
  height: 0;
  padding-bottom: 70%;
}
#mil .owl-carousel__content-bg .owl-carousel__content-img {
  width: 62%;
  margin-top: 70px;
}
@media (max-width: 1366px) {
  #mil .owl-carousel__content-bg .owl-carousel__content-img {
    width: 73%;
    margin-top: 52px;
  }
}
@media (max-width: 1024px) {
  #mil .owl-carousel__content-bg .owl-carousel__content-img {
    border-image-slice: 24 fill;
    border: 19px solid transparent;
  }
}
@media (max-width: 1366px) {
  #mil .owl-carousel__content-bg {
    padding-bottom: 100%;
  }
}
.owl-carousel .owl-item {
  text-align: center;
  display: inline-block;
}
.owl-carousel__content-flag {
  height: 56px;
  width: 80px;
  background: url(../img/rs.png) no-repeat center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
