.header{
  position: relative;
}
//logo_home
.home-header__logo{
  margin-top: 60px;
  margin-bottom: 20px;
}
.header__logo-title{
  padding-top:225px;
  height: 0;
  overflow: hidden;
  .bg-img('logo.png');
  background-size: inherit;
  margin: 0;

}
//logo tabs
.tabs-header__logo{
  position: relative;
  background:  radial-gradient(circle farthest-corner at 164px 70px, #271A7D 2%, rgba(0, 0, 10, 0.7)9%);
  margin-top:4%;
  margin-bottom: 5%;
  display: none;

}
.tabs-header__logo-title{
  padding-top:180px;
  height: 0;
  overflow: hidden;
  .bg-img('logo_tabs.png');
  background-size: inherit;
  margin: 0;
  top: -57px;
  position: absolute;
  cursor: pointer;
}

//walk__stars
.walk__wrapper{
  background: radial-gradient(circle farthest-corner at 50% -38px, rgba(39, 26, 125, 0.69) 6%, rgba(0, 0, 10, 0.7) 21%);
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  overflow: hidden;


}//.walk__wrapper

//walk
.walk{
  border-bottom:1px solid @lilac ;
  border-top:1px solid @lilac ;
  padding-top:50px;
  padding-bottom: 65px;

  text-align: center;
  h2.walk__title{
    text-transform: uppercase;
    font-size:60px;
    color:@lilac;
    line-height: 50px;
    font-family: @clober-bold;
    span{
      font-size: 38px;
      font-family: @clober-regular;
    }

  }
  .walk__text{
    color:#f4d9ff;
    font-size: 20px;
    font-family: @clober-regular;
    display: inline-block;
    width: 39.5%;
  }
}//.walk
//walk_tabs
.walk__tabs{
  h2.walk__tabs-title{
    text-transform: uppercase;
    font-size:60px;
    color:@lilac;
    line-height: 43px;
    font-family: @clober-bold;
    text-align: center;
    margin-top: 30px;
    span{
      font-size: 38px;
      font-family: @clober-regular;
    }

  }
}

//nav-tabs
.nav-tabs{
  border-bottom: none;
  position: absolute;
  bottom:20px;
  width: 62%;
  left: 19%;
  @media (max-width: 1366px){
    width: 100%;
  }
}
.nav>li>a:hover{
  background: none;
  border:none;
}

//tabs
.owl-carousel__content{
  .rounded-x{
    position: relative;
    /*background:url(../img/border-img.png) ;
    background-size: cover;
    background-position: -24px -42px;
    height: 305px;*/
    /*img{
      width: 280px;
      height: 280px;
      border-radius: 50%;
      z-index: -1;
     /* position: absolute;
      left: 36px;
      top: 10px;*/

   /* }
    img:before{

      border-width: 10px;
      border-style: solid;
      border-image: url(../img/border-img.png) 30 round;
    }*/

  }
  h3{
    color: @white;
    font-size: 18px;
    text-align: center;
    font-family: @clober-regular;
    font-weight: lighter;
  }
}

.owl-carousel__content-img {
  border: 25px solid transparent;
  border-image-source: url(../img/border-img.png);
  border-image-repeat: round;
  border-image-slice: 26 fill;
  border-radius: 50%;
  width: 70%;
  @media (max-width: 1366px){
    width: 90%;
    }
  /*width: 252px;
  height: 252px;*/
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  img{
    width: 100%;
  }

}
.owl-carousel__content-bg{
  display: inline-block;
  background: url(../img/border-img-mask.png) no-repeat;
  background-position: 20px -3px;
  height: 0;
  padding-bottom: 76%;
  @media (max-width: 1366px){
    padding-bottom: 100%;
    background-size: 100%;
    background-position: inherit;
  }
  -webkit-box-reflect: below -34px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(78%, transparent), to(fade(@yellow, 28%)));
}
#mil .owl-carousel__content-bg{
  background: url(../img/zv4KM.png) no-repeat;
  background-size: 96%;
  height: 0;
  padding-bottom: 70%;
  .owl-carousel__content-img{
    width: 62%;
    margin-top: 70px;
    @media (max-width: 1366px){
      width: 73%;
      margin-top: 52px;
    }
    @media (max-width: 1024px){
      border-image-slice: 24 fill;
      border: 19px solid transparent;
    }
  }
  @media (max-width: 1366px){
    padding-bottom: 100%;
  }
}
.owl-carousel .owl-item {
  text-align: center;
  display: inline-block;
}
.owl-carousel__content-flag{
  height: 56px;
  width: 80px;
  background: url(../img/rs.png) no-repeat center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
