.header{
  position: relative;
}
//logo_home
.home-header__logo{
  margin-top: 60px;
  margin-bottom: 20px;
  @media(min-width:1000px) and (max-width: 1500px){
    margin-top: 20px;
  }
}
.header__logo-title{
  padding-top:225px;
  height: 0;
  overflow: hidden;
  .bg-img('logo.png');
  background-size: inherit;
  margin: 0;
  @media(min-width:1000px) and (max-width: 1500px){
    background-size: 20%;
    padding-top: 142px;
  }

}
//logo tabs
.tabs-header__logo{
  position: relative;
  background:  radial-gradient(circle farthest-corner at 164px 70px, #271A7D 2%, rgba(0, 0, 10, 0.7)9%);
  margin-top:4%;
  margin-bottom: 5%;
  display: none;
  @media (max-width: 1500px){
    margin-top:3%;
    margin-bottom: 2.5%;
  }

}
.tabs-header__logo-title{
  padding-top:180px;
  height: 0;
  overflow: hidden;
  .bg-img('logo_tabs.png');
  background-size: inherit;
  margin: 0;
  top: -57px;
  position: absolute;
  cursor: pointer;
  @media (max-width: 1500px){
    background-size: 68%;
    top: -57px;
    left: 74px;
  }
}

//walk__stars
.walk__wrapper{
  background: radial-gradient(circle farthest-corner at 50% -38px, rgba(39, 26, 125, 0.69) 6%, rgba(0, 0, 10, 0.7) 21%);
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  overflow: hidden;


}//.walk__wrapper

//walk
.walk{
  border-bottom:1px solid @lilac ;
  border-top:1px solid @lilac ;
  padding-top:50px;
  padding-bottom: 65px;
  text-align: center;
  @media (max-width: 1500px){
    padding-top: 19px;
    padding-bottom: 35px;
  }
  h2.walk__title{
    text-transform: uppercase;
    font-size:60px;
    color:@lilac;
    line-height: 50px;
    font-family: @clober-bold;
    @media (max-width: 1500px){
      font-size:50px;
      line-height: 35px;
    }
    span{
      font-size: 38px;
      font-family: @clober-regular;
      @media (max-width: 1500px){
        font-size:28px;
      }
    }

  }
  .walk__text{
    color:#f4d9ff;
    font-size: 20px;
    font-family: @clober-regular;
    display: inline-block;
    width: 39.5%;
    @media (max-width: 1500px){
      font-size: 18px;
      width: 50%;
    }
  }
}//.walk
//walk_tabs
.walk__tabs{
  h2.walk__tabs-title{
    text-transform: uppercase;
    font-size:60px;
    color:@lilac;
    line-height: 43px;
    font-family: @clober-bold;
    text-align: center;
    margin-top: 30px;
    @media (max-width: 1500px){
      font-size: 50px;
      line-height: 33px;
    }
    span{
      font-size: 38px;
      font-family: @clober-regular;
      @media (max-width: 1500px){
        font-size: 28px;
      }
    }

  }
}

//nav-tabs
.nav-tabs{
  border-bottom: none;

}
.nav>li>a:hover{
  background: none;
  border:none;
}

//tabs
.tab-content{
  position: relative;
  .col-md-2 {
    width: 20%;
    padding-left: 0;
    padding-right: 0;
  }
}
.owl-carousel__content{
  text-align: center;

  h3{
    color: @white;
    font-size: 18px;
    text-align: center;
    font-family: @clober-regular;
    font-weight: lighter;
    @media(min-width:1000px) and (max-width: 1500px){
      margin-top: -10px;
      margin-bottom: 5px;
    }
  }
}

.owl-carousel__content-img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  img{
    width: 100%;
    display: block;
    height: auto;
  }
  a{
    border-radius: 50%;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;

  }
  .icon{
    background: url(../img/border-img.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-size: cover;
  }

}

.owl-carousel__content-bg{
  display: inline-block;
  background: url(../img/border-img-mask.png) no-repeat;
  background-position: 42px -19px;
  padding: 20px;
  background-size: contain;
  -webkit-box-reflect: below -39px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(78%, transparent), to(fade(@yellow, 28%)));
}
#mil{
  margin-bottom: -30px;
  @media(min-width:1000px) and (max-width: 1500px){
    margin-bottom: 0;
  }
  h3{
    margin-top: 0;
  }
}
#mil .owl-carousel__content-bg{
  background: url(../img/bg_KM.png) no-repeat;
  background-size: contain;
  padding-bottom: 8%;
  .owl-carousel__content-img{
    margin-top: 50px;
  }
}
.owl-carousel .owl-item {
  text-align: center;
  display: inline-block;
}
.owl-carousel__content-flag{
  height: 56px;
  width: 80px;
  background: url(../img/rs.png) no-repeat center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  @media(min-width:1000px) and (max-width: 1500px){
    height: 24px;
    width: 50px;
    background-size: contain;
  }
}
