body{
  font-family: @clober-regular;
  font-size: 14px;
  .bg-img('bg.jpg');
  background-attachment: fixed;
  &:before{
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    background-color: fade(#000, 50%);
    z-index: 0;
    top:0;
    left:0;
    bottom: 0;
  }
  min-width: 1024px;
}
.con-h{
  height: 100vh;
}