
.btn{
  font-family: @clober-bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block!important;
  color: @yellow;
  width: 80%;
  transition: box-shadow .5s;


  &:focus, &:active, &:hover{
    color: @yellow;
  }
  @media (max-width: 1200px){
    font-size: 12px;
  }
  @media (max-width: 991px){
    width: 100%;
    padding: 10px !important;
  }
  @media (max-width: 767px){
    width: 52%;
  }
  @media (max-width: 480px){
    width: 100%;
  }
}
.nav-tabs{
  margin-top: 100px;
  @media (max-width: 1500px){
    margin-top: 50px;
  }
  @media (max-width: 991px){
   margin-bottom: 50px;
  }
  @media (max-width: 767px){
    text-align: center;
  }
}
.nav-tabs>li{
  @media (max-width: 767px){
    float: none;
    margin-bottom: 48px;
  }
}


.nav-tabs__wrapper{
  text-align: center;
}
//general styles
.btn-leader, .btn-n-leader, .btn-mil{
  .btn();
  margin-top: 5px;
  padding: 15px 15px 10px 15px !important;
  &:after{
    content: "";
    position: absolute;
    bottom:0;
    left: 38%;
    top: -34px;
    width: 65px;
    height: 34px;
    background-image: url(../img/zv3.png);
  }
}//.general styles
//btn-leader
.btn-leader{
  background: red;
  border-bottom: 1px solid #890202!important;
  .bg-gradient-linear-btn(#FF0708 0%,  #C60303 3%, #890202 16%, #5E0101 50%);
 &:before{
   content: "";
   position: absolute;
   bottom:0;
   left:0;
 }
  &:before{
    top: 0;
    width: 2px;
    .bg-image-color(#FF7373,#C10B0B);
  }
  &:hover,  &:focus, &:active{
    .bg-gradient-linear-btn(#FF0708 0%,  #C60303 3%, #890202 16%, #5E0101 50%)!important;
    .box-shadow-two(0px -17px 35px -14px #ED0066, 0px 12px 24px -12px #ED0066);
  }

}//.btn-leader
//btn-n-leader
.btn-n-leader{
  background: @yellow;
  border-bottom: 1px solid #BB8E30!important;
  .bg-gradient-linear-btn(#FFA00E 0%,  #C66500 3%, #AB5500 16%, #964B00 50%);
  &:before{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
  }
  &:before{
    top: 0;
    width: 2px;
    .bg-image-color(#FFF1C2,#FF8905);
  }
  &:hover,  &:focus, &:active{

    .bg-gradient-linear-btn(#FFA00E 0%,  #C66500 3%, #AB5500 16%, #964B00 50%)!important;
    .box-shadow-two(0px -17px 35px -14px #F38F00, 0px 12px 24px -12px #F38F00);
  }

}//.btn-n-leader
//btn-mil
.btn-mil{
  background:#380915;
  border-bottom: 1px solid #7C2D4B!important;
  .bg-gradient-linear-btn(#7A1C36 0%,  #7B1C37 3%, #771239 16%, #29050E 50%);
  &:before{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
  }
  &:before{
    top: 0;
    width: 2px;
    .bg-image-color(#E43D6D, #5D1327);

  }
  &:hover,  &:focus, &:active{

    .bg-gradient-linear-btn(#7A1C36 0%,  #7B1C37 3%, #771239 16%, #29050E 50%)!important;
    .box-shadow-two(0px -17px 35px -14px #DD00E1,  0px 12px 24px -12px #DD00E1);
  }
}//.btn-mil


  .nav-tabs>li.active>a.btn-leader{
    .box-shadow-two(0px -17px 35px -14px #ED0066, 0px 12px 24px -12px #ED0066);

   }
.nav-tabs>li.active>a.btn-n-leader{
  .box-shadow-two(0px -17px 35px -14px #F38F00,  0px 12px 24px -12px #F38F00);
}
.nav-tabs>li.active>a.btn-mil{
  .box-shadow-two(0px -17px 35px -14px #DD00E1,  0px 12px 24px -12px #DD00E1);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  border: none;
  color: @yellow;

}
.opacity_li:hover{
  opacity: 1!important;
}
.opacity_li{
  opacity: 0.65;
  .transition();
}
//стили бутстрапа
.nav-tabs>li>a{
  border: none;
  border-radius: 0;
}
.owl-btn {
  color: #777;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 9px;
  text-align: center;
  background: #f5f5f5;
}