.modal-content{
  background-color: transparent;
  box-shadow: none;
  border:none;
  border-radius: 0;
  margin-top: 160px;
}
//modal-lider
.modal-lider{
  .modal-lg{
    max-width:1115px ;
    width: 100%;
  }
  .modal-body{
    position: relative;
    &:before{
      position: absolute;
      content: '';
      left: -22%;
      top: 19px;
      height: 487px;
      width: 528px;
      background:url(../img/zv1KL.png);
      z-index: 1;
    }
  }
  .modal-body__wrapper{
    background: #D5BF9C;
    position: absolute;
    &:before{
      position: absolute;
      content: '';
      left: 19.3%;
      top: 44px;
      height: 92px;
      width: 92px;
      background:url(../img/lider.png) no-repeat;
      z-index: 3;
    }

  }
  .modal-body__img{
    width: auto;
    height: 100%;
    overflow: hidden;
    max-width: 450px;
    margin-right: -15px;
    img{
      width: 100%;
    }
  }
  .modal-body__content{
    margin-left: 35px;
    margin-top: 67px;
    h3{
      font-family: @clober-bold;
      margin-bottom: 0;
      line-height: 22px;
      font-size: 25px;
    }
    span{
      font-family:@clober-regular;
      font-style: italic;
      font-size: 25px;
    }
    .modal-body__content-text {
      margin-top: 55px;
      p{
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}//.modal-lider

//modal-mil
.modal-mil{
  .modal-lg{
    max-width:1324px ;
    width: 100%;
  }

  .modal-body{
    position: relative;
    &:before{
      position: absolute;
      content: '';
      left: -11%;
      top: -134px;
      height: 385px;
      width: 437px;
      background:url(../img/zv4KM.png) no-repeat;

    }
  }
  .modal-body__wrapper{
    background: #D4A6CE;
    position: absolute;
    &:before{
      position: absolute;
      content: '';
      right: 10px;
      top: 10px;
      height: 158px;
      width: 158px;
      background:url(../img/mil.png);
    }
    &:after{
      position: absolute;
      content: '';
      right: -10%;
      bottom: -18%;
      height: 425px;
      width: 396px;
      background: url(../img/zvKM.png) no-repeat;
      background-size: 100%;
    }
  }
  .modal-body__img{
    width: auto;
    height: 100%;
    overflow: hidden;
    border: 20px solid @white;
    margin-left: -15px;
    max-width: 450px;
      img{
        width: 100%;
      }
  }
  .modal-body__content{
    margin-left: 35px;
    margin-top: 67px;
    h3{
      font-family: @clober-bold;
      margin-bottom: 0;
      line-height: 22px;
      font-size: 40px;
    }
    span{
      font-family:@clober-regular;
      font-style: italic;
      font-size: 30px;
    }
    .modal-body__content-text {
      margin-top: 55px;
      p{
        font-size: 17px;
        margin-bottom: 20px;
      }
    }
  }
}//.modal-mil

//button close
.close{
  outline: none!important;
  opacity: 1;
  margin-right: -70px;
  span{
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: block;
  }
  span:before, span:after{
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
  }
  span:before{
    top: 0;
    .transform_one_par();
  }
  span:after{
    top:10px;
    .transform_two_par();
  }
}//.button close